In [1]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
import pickle

In [40]:
#Read the stock data
stockData = pd.read_csv("/Users/Anshu/MLCS_Project/StockDaily2013.csv")
stockData = stockData.rename(columns={'datadate': 'Date', 'conm': 'CompanyName','diff':'ChangeInStockPrice'})
stockData['Date'] = pd.to_datetime(stockData['Date'])

#Number of data points
print(len(stockData))

#Find if any column has missing values
print(stockData.columns[stockData.isnull().any()])

encoded_stockData = pd.get_dummies(stockData)

print(encoded_stockData.head(10))
print(stockData.dtypes)

65499
Index(['prccd'], dtype='object')
        Date  prccd  ChangeInStockPrice  CompanyName_A V HOMES INC  \
0 2013-01-02  19.37                0.24                          0
1 2013-01-03  19.82                0.24                          0
2 2013-01-04  20.11                0.24                          0
3 2013-01-07  19.75               -0.15                          0
4 2013-01-08  19.61               -0.75                          0
5 2013-01-09  19.67               -0.76                          0
6 2013-01-10  19.36               -0.76                          0
7 2013-01-11  18.99               -0.36                          0
8 2013-01-14  18.85               -0.22                          0
9 2013-01-15  19.31                0.48                          0

   CompanyName_AAR CORP  CompanyName_AARON'S INC  \
0                     1                        0
1                     1                        0
2                     1                        0
3                     1                        0
4                     1                        0
5                     1                        0
6                     1                        0
7                     1                        0
8                     1                        0
9                     1                        0

   CompanyName_ABBOTT LABORATORIES  CompanyName_ABM INDUSTRIES INC  \
0                                0                               0
1                                0                               0
2                                0                               0
3                                0                               0
4                                0                               0
5                                0                               0
6                                0                               0
7                                0                               0
8                                0                               0
9                                0                               0

   CompanyName_ACETO CORP  CompanyName_ACMAT CORP  -CL A  \
0                       0                              0
1                       0                              0
2                       0                              0
3                       0                              0
4                       0                              0
5                       0                              0
6                       0                              0
7                       0                              0
8                       0                              0
9                       0                              0

            ...            CompanyName_TELUS CORP  \
0           ...                                 0
1           ...                                 0
2           ...                                 0
3           ...                                 0
4           ...                                 0
5           ...                                 0
6           ...                                 0
7           ...                                 0
8           ...                                 0
9           ...                                 0

   CompanyName_TRECORA RESOURCES  CompanyName_UNISYS CORP  \
0                              0                        0
1                              0                        0
2                              0                        0
3                              0                        0
4                              0                        0
5                              0                        0
6                              0                        0
7                              0                        0
8                              0                        0
9                              0                        0

   CompanyName_US AIRWAYS GROUP INC  CompanyName_US ECOLOGY INC  \
0                                 0                           0
1                                 0                           0
2                                 0                           0
3                                 0                           0
4                                 0                           0
5                                 0                           0
6                                 0                           0
7                                 0                           0
8                                 0                           0
9                                 0                           0

   CompanyName_VAMPT AMERICA INC  CompanyName_VANECK VECTORS EMG MKT HIGH  \
0                              0                                        0
1                              0                                        0
2                              0                                        0
3                              0                                        0
4                              0                                        0
5                              0                                        0
6                              0                                        0
7                              0                                        0
8                              0                                        0
9                              0                                        0

   CompanyName_VERIZON COMMUNICATIONS INC  \
0                                       0
1                                       0
2                                       0
3                                       0
4                                       0
5                                       0
6                                       0
7                                       0
8                                       0
9                                       0

   CompanyName_WINMILL & CO INC  -CL A  CompanyName_WORLDS INC
0                                    0                       0
1                                    0                       0
2                                    0                       0
3                                    0                       0
4                                    0                       0
5                                    0                       0
6                                    0                       0
7                                    0                       0
8                                    0                       0
9                                    0                       0

[10 rows x 250 columns]
Date                  datetime64[ns]
CompanyName                   object
prccd                        float64
ChangeInStockPrice           float64
dtype: object

In [3]:
#Read the train case data
caseDataFile_train = open("/Users/Anshu/MLCS_Project/traindocvector.pkl","rb")
caseData_train = pickle.load(caseDataFile_train)

caseData_train.head(10)

,CaseId,Date,Vector,Year,Month
0,X1F0UMON,1/10/13,"[-0.7028875, -2.7233882, 0.1520429, -1.5949539...",2013,1
1,X1J3RP6003,1/14/13,"[3.236428, -0.093723595, 4.611112, 1.9832928, ...",2013,1
2,X1J2U46003,1/4/13,"[-1.2396952, -0.36763647, -2.3595066, -2.98144...",2013,1
3,X1J62O6003,1/28/13,"[0.82999957, -0.85989165, 1.114283, 1.2796286,...",2013,1
4,X1EU3KGN,1/17/13,"[-3.7375247, -0.26009968, -1.1849008, -2.61638...",2013,1
5,X1J2NRO003,1/2/13,"[-0.33164725, -2.4793596, 2.8113668, 3.1534224...",2013,1
6,X1Q6MITDN5O2,1/28/13,"[0.47811228, -1.3649578, -0.22303902, 1.257572...",2013,1
7,X1J3JV8003,1/11/13,"[0.5252881, 2.7497978, 1.5680248, -2.4483664, ...",2013,1
8,X1J3FQQ003,1/10/13,"[0.7949317, 3.106101, -0.87396437, 1.082312, -...",2013,1
9,X1J6PGC003,1/31/13,"[0.79055965, 3.624919, 3.9514618, 0.38637394, ...",2013,1

In [4]:
#Read the test case data
caseDataFile_test = open("/Users/Anshu/MLCS_Project/traindocvector.pkl","rb")
caseData_test = pickle.load(caseDataFile_test)

caseData_test.head(10)

,CaseId,Date,Vector,Year,Month
0,X1F0UMON,1/10/13,"[-0.7028875, -2.7233882, 0.1520429, -1.5949539...",2013,1
1,X1J3RP6003,1/14/13,"[3.236428, -0.093723595, 4.611112, 1.9832928, ...",2013,1
2,X1J2U46003,1/4/13,"[-1.2396952, -0.36763647, -2.3595066, -2.98144...",2013,1
3,X1J62O6003,1/28/13,"[0.82999957, -0.85989165, 1.114283, 1.2796286,...",2013,1
4,X1EU3KGN,1/17/13,"[-3.7375247, -0.26009968, -1.1849008, -2.61638...",2013,1
5,X1J2NRO003,1/2/13,"[-0.33164725, -2.4793596, 2.8113668, 3.1534224...",2013,1
6,X1Q6MITDN5O2,1/28/13,"[0.47811228, -1.3649578, -0.22303902, 1.257572...",2013,1
7,X1J3JV8003,1/11/13,"[0.5252881, 2.7497978, 1.5680248, -2.4483664, ...",2013,1
8,X1J3FQQ003,1/10/13,"[0.7949317, 3.106101, -0.87396437, 1.082312, -...",2013,1
9,X1J6PGC003,1/31/13,"[0.79055965, 3.624919, 3.9514618, 0.38637394, ...",2013,1

In [41]:
#Make the date format of all the datasets same
caseData_train['Date'] =  pd.to_datetime(caseData_train['Date'])
caseData_test['Date'] =  pd.to_datetime(caseData_test['Date'])

In [42]:
#Join stock and train case data
joined_train_data = pd.merge(caseData_train,encoded_stockData,how='inner',on='Date')

joined_train_data = joined_train_data.head(11000)

#Join stock and test case data
joined_test_data = pd.merge(caseData_test,encoded_stockData,how='inner',on='Date')

joined_test_data = joined_train_data.head(1000)

joined_train_data.head(10)

,CaseId,Date,Vector,Year,Month,prccd,ChangeInStockPrice,CompanyName_A V HOMES INC,CompanyName_AAR CORP,CompanyName_AARON'S INC,...,CompanyName_TELUS CORP,CompanyName_TRECORA RESOURCES,CompanyName_UNISYS CORP,CompanyName_US AIRWAYS GROUP INC,CompanyName_US ECOLOGY INC,CompanyName_VAMPT AMERICA INC,CompanyName_VANECK VECTORS EMG MKT HIGH,CompanyName_VERIZON COMMUNICATIONS INC,CompanyName_WINMILL & CO INC -CL A,CompanyName_WORLDS INC
0,X1F0UMON,2013-01-10,"[-0.7028875, -2.7233882, 0.1520429, -1.5949539...",2013,1,19.36,-0.760,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,X1F0UMON,2013-01-10,"[-0.7028875, -2.7233882, 0.1520429, -1.5949539...",2013,1,255.00,0.000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,X1F0UMON,2013-01-10,"[-0.7028875, -2.7233882, 0.1520429, -1.5949539...",2013,1,3.02,0.000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,X1F0UMON,2013-01-10,"[-0.7028875, -2.7233882, 0.1520429, -1.5949539...",2013,1,1.29,0.537,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,X1F0UMON,2013-01-10,"[-0.7028875, -2.7233882, 0.1520429, -1.5949539...",2013,1,10.41,0.410,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,X1F0UMON,2013-01-10,"[-0.7028875, -2.7233882, 0.1520429, -1.5949539...",2013,1,21.99,0.180,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,X1F0UMON,2013-01-10,"[-0.7028875, -2.7233882, 0.1520429, -1.5949539...",2013,1,10.87,0.030,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,X1F0UMON,2013-01-10,"[-0.7028875, -2.7233882, 0.1520429, -1.5949539...",2013,1,52.18,0.030,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,X1F0UMON,2013-01-10,"[-0.7028875, -2.7233882, 0.1520429, -1.5949539...",2013,1,28.92,0.560,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,X1F0UMON,2013-01-10,"[-0.7028875, -2.7233882, 0.1520429, -1.5949539...",2013,1,33.85,0.010,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
joined_train_data.to_pickle('/Users/Anshu/MLCS_Project/training_data_everything.pkl')
joined_test_data.to_pickle('/Users/Anshu/MLCS_Project/testing_data_everything.pkl')

joined_train_data.describe()

joined_train_data.ChangeInStockPrice.min()

-176975.35

In [44]:
#Retain Case Vector, ChangeInStockPrice, Company Names in the joined data for feeding it to neural network

joined_train_data.drop(['CaseId', 'Date', 'Year', 'Month','prccd'], axis=1, inplace=True)
joined_test_data.drop(['CaseId', 'Date', 'Year', 'Month','prccd'], axis=1, inplace=True)

#joined_train_data = joined_train_data[['Vector','CompanyName','ChangeInStockPrice']]
#joined_test_data = joined_test_data[['Vector','CompanyName','ChangeInStockPrice']]

print("Updated train data")
print(joined_train_data.head(5))

print("Update test data")
print(joined_test_data.head(5))

joined_train_data.dtypes

Updated train data
                                              Vector  ChangeInStockPrice  \
0  [-0.7028875, -2.7233882, 0.1520429, -1.5949539...              -0.760
1  [-0.7028875, -2.7233882, 0.1520429, -1.5949539...               0.000
2  [-0.7028875, -2.7233882, 0.1520429, -1.5949539...               0.000
3  [-0.7028875, -2.7233882, 0.1520429, -1.5949539...               0.537
4  [-0.7028875, -2.7233882, 0.1520429, -1.5949539...               0.410

   CompanyName_A V HOMES INC  CompanyName_AAR CORP  CompanyName_AARON'S INC  \
0                          0                     1                        0
1                          0                     0                        0
2                          0                     0                        0
3                          0                     0                        0
4                          0                     0                        0

   CompanyName_ABBOTT LABORATORIES  CompanyName_ABM INDUSTRIES INC  \
0                                0                               0
1                                0                               0
2                                0                               0
3                                0                               0
4                                0                               0

   CompanyName_ACETO CORP  CompanyName_ACMAT CORP  -CL A  \
0                       0                              0
1                       0                              0
2                       0                              0
3                       0                              0
4                       0                              0

   CompanyName_ACME UNITED CORP           ...            \
0                             0           ...
1                             0           ...
2                             0           ...
3                             0           ...
4                             0           ...

   CompanyName_TELUS CORP  CompanyName_TRECORA RESOURCES  \
0                       0                              0
1                       0                              0
2                       0                              0
3                       0                              0
4                       0                              0

   CompanyName_UNISYS CORP  CompanyName_US AIRWAYS GROUP INC  \
0                        0                                 0
1                        0                                 0
2                        0                                 0
3                        0                                 0
4                        0                                 0

   CompanyName_US ECOLOGY INC  CompanyName_VAMPT AMERICA INC  \
0                           0                              0
1                           0                              0
2                           0                              0
3                           0                              0
4                           0                              0

   CompanyName_VANECK VECTORS EMG MKT HIGH  \
0                                        0
1                                        0
2                                        0
3                                        0
4                                        0

   CompanyName_VERIZON COMMUNICATIONS INC  \
0                                       0
1                                       0
2                                       0
3                                       0
4                                       0

   CompanyName_WINMILL & CO INC  -CL A  CompanyName_WORLDS INC
0                                    0                       0
1                                    0                       0
2                                    0                       0
3                                    0                       0
4                                    0                       0

[5 rows x 249 columns]
Update test data
                                              Vector  ChangeInStockPrice  \
0  [-0.7028875, -2.7233882, 0.1520429, -1.5949539...              -0.760
1  [-0.7028875, -2.7233882, 0.1520429, -1.5949539...               0.000
2  [-0.7028875, -2.7233882, 0.1520429, -1.5949539...               0.000
3  [-0.7028875, -2.7233882, 0.1520429, -1.5949539...               0.537
4  [-0.7028875, -2.7233882, 0.1520429, -1.5949539...               0.410

   CompanyName_A V HOMES INC  CompanyName_AAR CORP  CompanyName_AARON'S INC  \
0                          0                     1                        0
1                          0                     0                        0
2                          0                     0                        0
3                          0                     0                        0
4                          0                     0                        0

   CompanyName_ABBOTT LABORATORIES  CompanyName_ABM INDUSTRIES INC  \
0                                0                               0
1                                0                               0
2                                0                               0
3                                0                               0
4                                0                               0

   CompanyName_ACETO CORP  CompanyName_ACMAT CORP  -CL A  \
0                       0                              0
1                       0                              0
2                       0                              0
3                       0                              0
4                       0                              0

   CompanyName_ACME UNITED CORP           ...            \
0                             0           ...
1                             0           ...
2                             0           ...
3                             0           ...
4                             0           ...

   CompanyName_TELUS CORP  CompanyName_TRECORA RESOURCES  \
0                       0                              0
1                       0                              0
2                       0                              0
3                       0                              0
4                       0                              0

   CompanyName_UNISYS CORP  CompanyName_US AIRWAYS GROUP INC  \
0                        0                                 0
1                        0                                 0
2                        0                                 0
3                        0                                 0
4                        0                                 0

   CompanyName_US ECOLOGY INC  CompanyName_VAMPT AMERICA INC  \
0                           0                              0
1                           0                              0
2                           0                              0
3                           0                              0
4                           0                              0

   CompanyName_VANECK VECTORS EMG MKT HIGH  \
0                                        0
1                                        0
2                                        0
3                                        0
4                                        0

   CompanyName_VERIZON COMMUNICATIONS INC  \
0                                       0
1                                       0
2                                       0
3                                       0
4                                       0

   CompanyName_WINMILL & CO INC  -CL A  CompanyName_WORLDS INC
0                                    0                       0
1                                    0                       0
2                                    0                       0
3                                    0                       0
4                                    0                       0

[5 rows x 249 columns]

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

Vector                                       object
ChangeInStockPrice                          float64
CompanyName_A V HOMES INC                     uint8
CompanyName_AAR CORP                          uint8
CompanyName_AARON'S INC                       uint8
CompanyName_ABBOTT LABORATORIES               uint8
CompanyName_ABM INDUSTRIES INC                uint8
CompanyName_ACETO CORP                        uint8
CompanyName_ACMAT CORP  -CL A                 uint8
CompanyName_ACME UNITED CORP                  uint8
CompanyName_ACTUANT CORP  -CL A               uint8
CompanyName_ACXIOM CORP                       uint8
CompanyName_ADAMS DIVERSIFIED EQUITY FD       uint8
CompanyName_ADAMS RESOURCES & ENERGY INC      uint8
CompanyName_ADDMASTER CORP                    uint8
CompanyName_ADVANCED BATTERY TECH INC         uint8
CompanyName_ADVANCED MICRO DEVICES            uint8
CompanyName_ADVANCED OXYGEN TECHNOLOGY        uint8
CompanyName_AEROSONIC CORP                    uint8
CompanyName_AETNA INC                         uint8
CompanyName_AFA PROTECTIVE SYSTEMS INC        uint8
CompanyName_AFLAC INC                         uint8
CompanyName_AFP IMAGING CORP                  uint8
CompanyName_AGNICO EAGLE MINES LTD            uint8
CompanyName_AGRI DYNAMICS INC                 uint8
CompanyName_AIR PRODUCTS & CHEMICALS INC      uint8
CompanyName_AIR T INC                         uint8
CompanyName_ALANCO TECHNOLOGIES INC           uint8
CompanyName_ALASKA AIR GROUP INC              uint8
CompanyName_ALCOA INC                         uint8
                                             ...
CompanyName_NEXEN INC                         uint8
CompanyName_NITCHES INC                       uint8
CompanyName_NON INVASIVE MONITOR              uint8
CompanyName_OFFICEMAX INC                     uint8
CompanyName_PINNACLE WEST CAPITAL CORP        uint8
CompanyName_POPULAR INC                       uint8
CompanyName_PRIMERICA INC                     uint8
CompanyName_R F INDUSTRIES LTD                uint8
CompanyName_RELM WIRELESS CORP                uint8
CompanyName_RESOLUTE FOREST PRODUCTS INC      uint8
CompanyName_REUNION INDUSTRIES INC            uint8
CompanyName_REX AMERICAN RESOURCES CORP       uint8
CompanyName_REXAM PLC                         uint8
CompanyName_ROBERT HALF INTL INC              uint8
CompanyName_SAVIENT PHARMACEUTICALS INC       uint8
CompanyName_SINO SHIPPING HOLDINGS INC        uint8
CompanyName_SKYWORKS SOLUTIONS INC            uint8
CompanyName_SOUTHERN CO GAS                   uint8
CompanyName_SPHERIX INC  -OLD                 uint8
CompanyName_TAMIR BIOTHECHNOLOGY INC          uint8
CompanyName_TELUS CORP                        uint8
CompanyName_TRECORA RESOURCES                 uint8
CompanyName_UNISYS CORP                       uint8
CompanyName_US AIRWAYS GROUP INC              uint8
CompanyName_US ECOLOGY INC                    uint8
CompanyName_VAMPT AMERICA INC                 uint8
CompanyName_VANECK VECTORS EMG MKT HIGH       uint8
CompanyName_VERIZON COMMUNICATIONS INC        uint8
CompanyName_WINMILL & CO INC  -CL A           uint8
CompanyName_WORLDS INC                        uint8
Length: 249, dtype: object

In [47]:

joined_train_data.to_pickle('/Users/Anshu/MLCS_Project/training_data_CaseCompanyStockChange.pkl')
joined_test_data.to_pickle('/Users/Anshu/MLCS_Project/testing_data_CaseCompanyStockChange.pkl')